:root {
    --maxWidth: 730px !important;
}

.nav-link {
    font-size: 18px !important;
    padding-right: 30px !important;
}

.hero-container {
    border-radius: 2px;
    background-color: #eaf2f2;
    padding: 20px;
}

.hero-container h2 {
    font-weight: bold;
}

.hero-container p {
    font-size: 22px;
    font-weight: bold;
    color: #868e96;
}

.hero-container a {
    margin-right: 20px;
}

.recent-blog-post-wrapper {
    margin-top: 70px;
}

.blog-post-ul {
    list-style: none;
    padding: 0;
}

.blog-post-list {
    margin-bottom: 50px;
}

.blog-post-link {
    color: #4878cf;
    text-decoration: none !important;
    font-size: 25px;
    font-weight: 800;
}

.blog-post-link:hover {
    text-decoration: underline !important;
}

.post-excerpt {
    font-size: 19px;
}

.post-title {
    font-weight: 800;
    font-size: 40px;
}

.html-post-description {
    margin: 30px auto;
    font-size: 20px;
    line-height: 1.5;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 1em 10px .1em 10px;
}

footer {
    margin-top: 70px;
    padding: 30px 0px;
    text-align: center;
}

.error-page {
    margin-top: 50px;
}

.error-title {
    font-size: 30px;
    font-weight: 700;
}

.main-wrapper {
    max-width: var(--maxWidth);
    width: 100% !important;
    margin: 0px auto !important;
    margin-top: 70px !important;
}

.tag-badge {
    font-size: 1rem !important;
    padding: 7px !important;
    font-weight: 500 !important;
    background-color: #e9eff4 !important;
    color: #6c757d !important;
}

.tag-badge:hover {
    background-color: #dee7ed !important;
}