:root {
    --maxWidth: 830px !important;
}

.nav-link {
    font-size: 20px !important;
    font-weight: 600 !important;
    padding-right: 20px !important;
}

.nav-link:hover {
    color: #2b6bb1 !important;
}

.hero-container {
    text-align: center;
    margin-top: 100px !important;
}

.hero-container h1 {
    font-weight: bold;
}

.hero-container p {
    font-size: 25px;
    font-weight: bold;
    color: #868e96;
}

.recent-blog-post-wrapper {
    margin-top: 150px;
}

.blog-post-ul {
    list-style: none;
    padding: 0;
}

.blog-post-list {
    border-bottom: 1px solid #d5d5d5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog-post-list:hover {
    background-color: #edf2f7 !important;
}

.blog-post-link {
    text-decoration: none !important;
}

.blog-post-heading {
    font-size: 22px;
    color: black !important;
}

.post-excerpt {
    font-size: 18px;
    color: #636363;
    font-weight: 600;
}

.post-title {
    font-weight: 800;
    font-size: 40px;
}

.html-post-description {
    margin: 30px auto;
    font-size: 18px;
}

.html-post-description a {
    color: #2b6bb1;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 1em 10px .1em 10px;
}

.blog-post-list:hover .blog-post-heading {
    color: #2b6bb1 !important;
}

.footer-wrapper {
    max-width: var(--maxWidth);
    width: 100% !important;
    margin: 0px auto !important;
}

footer {
    margin-top: 70px;
    padding: 30px 0px;
    background-color: #edf2f7;
}

.error-page {
    margin-top: 50px;
}

.error-title {
    font-size: 30px;
    font-weight: 700;
}

.navbar-wrapper {
    max-width: var(--maxWidth);
    width: 100% !important;
    margin: 0px auto !important;
    padding-top: 10px;
}

.main-wrapper {
    max-width: var(--maxWidth);
    width: 100% !important;
    margin: 0px auto !important;
    margin-top: 100px !important;
}

.tag-badge {
    font-size: 1rem !important;
    padding: 7px !important;
    font-weight: 500 !important;
    background-color: #e9eff4 !important;
    color: #6c757d !important;
}

.tag-badge:hover {
    background-color: #dee7ed !important;
}

.active-nav-link {
    color: #2b6bb1 !important;
}

.nav-link-brand {
    font-weight: 700 !important;
}

@media screen and (max-width:576px) {
    .navbar-brand {
        font-size: 17px !important;
    }

    .nav-link {
        font-size: 18px !important;
        padding-right: 10px !important;
    }

    .navbar-wrapper {
        padding: 10px !important;
    }

    .main-wrapper {
        padding: 0px 10px !important;
    }
}

.anchor-link {
    color: #2b6bb1;
}

.node-link-style {
    margin-top: 100px;
}

.node-link-style a {
    color: #2b6bb1;
    font-size: 19px;
}

.card:hover {
    background-color: #edf2f7;
}